<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//simplewebrtc.com/latest.js"></script>
</head>
<body>
	<div><%= chatroom %></div>
	<video height="300" id="localVideo"></video>
	<div height="300" id="remotesVideos"></div>
</body>
<footer>
    <script>
    	var chatroom = <%- JSON.stringify(chatroom) %>;
        var webrtc = new SimpleWebRTC({
            // the id/element dom element that will hold "our" video
            localVideoEl: 'localVideo',
            // the id/element dom element that will hold remote videos
            remoteVideosEl: 'remotesVideos',
            // immediately ask for camera access
            autoRequestMedia: true
        });

        console.log(chatroom);

        // we have to wait until it's ready
        webrtc.on('readyToCall', function () {
            // you can name it anything
            webrtc.joinRoom(chatroom);
        });

    </script>
</footer>
</html>